.calibre {
    background: white;
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: em;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    display: block;
    font-size: em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
/*    display: -webkit-box;*/
/*    -webkit-box-orient: vertical;*/
/*    -webkit-line-clamp: 2;*/
/*    overflow: hidden*/
    display: block;
    text-indent: 4%;
    margin: 1em 0
    }
.calibre7 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.calibre8 {
    font-style: italic;
    line-height: 1.2
    }
.calibre9 {
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 1.33em 0
    }
.letter {
    display: block;
    font-size: 0.75em;
    text-indent: 0%;
    margin: 1em 10%
    }
.noindent {
    display: block;
    text-indent: 0%;
    margin: 1em 0
    }
.poem {
    display: block;
    text-indent: 0%;
    margin: 1em 0 1em 10%
    }
.t {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0%;
    margin: 1em 0
    }
.t1 {
    display: block;
    font-size: 1em;
    text-align: center;
    text-indent: 0%;
    margin: 1em 0
    }
.transnote {
    display: block;
    text-indent: 0%;
    margin: 1em 10%
    }


.layout{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden
}
